<div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <th class="col-sm-1">Id</th>
            <th class="col-sm-1">User Id</th>
            <th class="col-sm-3">Title</th>
            <th class="col-sm-7">Body</th>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">{{post.id}}</td>
                <td class="text-left">{{post.userId}}</td>
                <td class="text-left">{{post.title}}</td>
                <td class="text-left">{{post.body}}</td>
            </tr>
        </tbody>
    </table>

</div>